* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-family: 'Poppins', sans-serif;
    background-image: url("background01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 50px;

}

.time-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.time h2 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.time small {
    font-weight: lighter;
}

@media(max-width:500px) {

    body {
        background-image: url("mobile-backgrount02.jpeg");

    }

    text-align: center;
    font-size: 45px;
}

.time {
    margin: 5px;
}

.time h2 {
    font-size: 13px;
}

.time small {
    font-size: 11.5px;
}

.time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
}